<% js_env notices: flash_notices() %>

<ul aria-live="assertive" id="flash_message_holder"></ul>
<div aria-live="assertive" aria-relevant="additions" id="flash_screenreader_holder" class="screenreader-only"></div>
